
* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #404040;
}

.footer {
    border: 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.login-modal-body {
    background-image: url(../img/computer-user-icon.png);
    background-color: rgb(221, 221, 221);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    height: 350px;
    padding: 120px 70px;
}

.login-modal-body input {
    opacity: 0.5;
}

.login-modal-body input:focus {
    opacity: 0.9;
    border-color: rgb(4, 140, 13);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 140, 13, 0.6);
}

.login-modal-body input:hover {
    opacity: 0.9;
}

.modal-dialog {
    margin-top: 100px;
}
